footer {
    padding: 25px 0;
    background: $purple-3;
    color: #FFF;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    font-size: 1em;
}

footer p {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}
