footer {
    padding: 25px 0;
    background: $purple-3;
    color: #FFF;
    font-size: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer, #main:after {
    height: 75px;
}

footer a {
    font-size: 1em;
}

footer p {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    width: $page-width;
}

footer a {
    border-bottom: 2px solid $purple-3;
}

// media queries

@media (max-width: 1520px) {
    footer p {
        width: $page-width-2;
    }
}

@media (max-width: 450px) {
    footer, #main:after {
        height: 105px;
    }
}
