$purple: #9255CC;
$purple-2: darken($purple, 30%);
$purple-3: desaturate($purple-2, 30%);
$header-font-colour: #fff;
$post-credits-colour: #9274af;
$code-block-font-colour: #363636;
$code-block-background: #d8cde2;
$code-block-border: #c0bac5;
